.overlay {
    fill: none;
    pointer-events: all;
}

.focus circle {
    fill: steelblue;
}

.focus text {
    font-size: 14px;
}

.tooltip {
    fill: white;
    stroke: #000;
}

.tooltip-date, .tooltip-likes {
    font-weight: bold;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.ticks path {stroke:darkgray;opacity:0.3} 